@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    background-color: #f2f2f2;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 1rem 2rem; */
    padding: 3rem 5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.menu-item {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.558);
}

.menu-item-active {
    color: #000;
}

.border {
    border-bottom: 1px solid;
    width: 300px;
}

.logo {
    width: 30px;
}

/* image */

.girl-img {
    position: fixed;
    width: 35%;
    height: 100%;
    top: 0;
    z-index: -1; 
}

/* intro section */

.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 16%;
    top: -8%;
    color: #333333;

}

.right-icons {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    
}

.intro-heading {
    font-size: 7rem;
    font-weight: 900;
}

.intro-heading-2 {
    font-size: 6rem;
    position: relative;
    left: 10rem;
    line-height: 0.1rem;

}

.intro-heading-3 {
    position: relative;
    left: 28rem;
    top: -2.5rem;
    color: rgba(0, 0, 0, 0.558);
}

.icon, .linkedin {
    width: 25px;
    height: 30px;
}

/* check package btn */

.check-package-btn {
    text-align: end;
    margin-right: 2.5rem;
}

.check-btn {
    background-color: #333333;
    padding: 1rem 3rem;
    color: #f2f2f2;
    font-size: 1rem;
}

/* list */

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
}

.description {
    width: 600px;
}

.description-img {
    width: 400px;
}
 
.services-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

} 

.services::before {
    content: "";
    border-left: 1px solid black;
    position: absolute;
    left: 614px;
    top: 539px;
    height: 230px;
}


@media screen and (max-width:1000px) {
    .border {
        display: none;
    }

    .girl-img {
        position: static;
        width: 100%;
        height: 100%;
        top: 0;
        display: block;
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: static;
        left: 0;
        top: 0;
        color: #333333;
    }

    .right-icons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        
    }

    .intro-heading {
        font-size: 7rem;
        font-weight: 900;
    }

    .intro-heading-2 {
        font-size: 6rem;
        position: static;
        left: 0rem;
        line-height: 3rem;
    }

    .intro-heading-3 {
        position: static;
        left: 0rem;
        top: 0rem;
        color: rgba(0, 0, 0, 0.558);
    }

    .icon, .linkedin {
        width: 25px;
        height: 30px;
    }

    .check-package-btn {
        text-align: center;
        margin-right: 0rem;
    }

    .check-btn {
        background-color: #333333;
        padding: 1rem 3rem;
        color: #f2f2f2;
        font-size: 1rem;
    }

    .bottom-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .quotes {
        display: none;
    }
    
    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .description-img {
        width: 400px;
    }
     
    .bottom-section > ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    } 
    
    .services::before {
        content: "";
        border-left: 1px solid black;
        position: absolute;
        left: 614px;
        top: 539px;
        height: 230px;
    }

    .down-arrow {
        height: 60px;
        padding-top: 1rem;
        order: 3;
    }

    .services-list {
        display: flex;
        flex-direction: column;
        order: 2;
    }    


}

@media screen and (max-width:700px) {
    .menu {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .logo-img {
        margin: 0;
        padding: 0;
    }

    .logo {
        margin: 0;
        padding: 0;
    }
}

